/*Variables de Color*/
:root {
    --color-bg: #0d0d0d;
    --color-text: #f2f2f2;
    --color-accent: #4cc9f0;
    --color-border: #333;

}

/*Estilo general de pagina*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/*Contenedor Principal*/
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    

}

/*Encabezad*/

header {
    position: relative;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 2.5rem;
    color: var(--color-accent);

}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/*Foto de perfil*/
.foto-perfil {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--color-accent)
}