/*Variables de Color*/
:root {
    --color-bg: #0d0d0d;
    --color-text: #f2f2f2;
    --color-accent: #4cc9f0;
    --color-border: #333;

}

/*Estilo general de pagina*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}