/*Variables de Color*/
:root {
    --color-bg: #0d0d0d;
    --color-text: #f2f2f2;
    --color-accent: #4cc9f0;
    --color-border: #333;

}

/*Estilo general de pagina*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/*_________________________________
    SIDEBAR LATERAL
    _____________________________*/

.sidebar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-right: 1px solid var(--color-border);
    padding: 20px;
    width: 100%;
    position: relative;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    transition: 0.2s ease;
}

.sidebar a:hover {
    color: var(--color-accent);
    transform: translateX(5px);
}



/*Encabezad*/

header {
    position: relative;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 2.5rem;
    color: var(--color-accent);

}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/*Foto de perfil*/
.foto-perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--color-accent);

    position: absolute;
    top: 20px;
    right: 20px;
    
}

/*Contenedor Principal*/
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    

}

/*Secciones*/
section {
    margin-bottom: 40px
}

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-accent);
    margin-top: 5px;
}

/*listas*/
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    transition: transform 0.2s ease, color 0.2s ease;
}

/*animacion en HOVER*/
li:hover {
    transform: translate(5px);
    color: var(--color-accent);
}

/*Tarjetas*/
.info-card {
    padding: 20px;
    border-radius: 10px;
}


/*RESPONSIVE (mobile)*/

/*tablet y escritorio*/
@media (min-width: 768px) {

    /*sidebar fijo*/
    .sidebar {
        width: 220px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    main {
        margin-left: 240px;
        padding: 40px;
    }

    /*Header alineado*/
    header {
        margin-left: 240px;
        padding: 80 px 20px 60px;
        text-align: left;
    }

    /*foto esquina*/
    .foto-perfil {
        top: 20px;
        right: 20px;
    }

    /*Listas en 2 columnas*/

    section ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }

    .info-card {
        padding: 20px 10px;
    }
}

/*Modo de Impresion*/
@media print {
    body {
        background: white;
        color: black;
    }

    main {
        background: white;
        border: none;
        box-shadow: none;

    }
    a::after {
        content: "("  attr(href) ")";
    }
}



