/*Variables de Color*/
:root {
    --color-bg: #0d0d0d;
    --color-text: #f2f2f2;
    --color-accent: #4cc9f0;
    --color-border: #333;

}

/*Estilo general de pagina*/
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
}

/*Contenedor Principal*/
main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    border: 1px solid var(--color-border);
    

}

/*Encabezad*/

header {
    position: relative;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 2.5rem;
    color: var(--color-accent);

}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/*Foto de perfil*/
.foto-perfil {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--color-accent);

    position: absolute;
    top: 20px;
    right: 20px;
    
}

/*Secciones*/
section {
    margin-bottom: 40px
}

h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-accent);
    margin-top: 5px;
}

/*listas*/
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    transition: transform 0.2s ease, color 0.2s ease;
}

/*animacion en HOVER*/
li:hover {
    transform: translate(5px);
    color: var(--color-accent);
}

/*RESPONSIVE (mobile)*/
@media (min-width: 768px) {
    main {
        padding: 40px;
    }
    section ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 20px;
    }
}
